body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

html, body, #root { height: 100%; }

.DeleteAll{
    width:100px;
    height:30px;
    border:1px solid red;
    border-radius:15px;
    background-color:yellow;
    color:blue;
}

.Delete-button{
    width:100px;
    height:20px;
    border:1px solid blue;
    border-radius:5px;
    background-color:antiquewhite;
    color:brown;
}

.input{
    width:200px;
    height:25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    padding:5px;
    border:1px solid blue;
}

.Add-to-list{
    height:25px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color:aquamarine;
    color:orangered;
    border:1px solid green;
}

.Paragraph{
    color:beige;
}